<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('./partials/head.ejs')%>
    <title>profile</title>
</head>
<body>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 offset-md-4">

                <div class="card-body">
                        <img src="<%=image.path%>" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><%= image.title %></h5>
                            <p class="card-text"><%= image.description %></p>
                            <a href="/image/<%=image._id%>/delete" type="button" class="btn btn-danger btn-block">
                            delete image
                            </a>
                            
                        </div>
                    </div>
            </div>
                    
                
           
        </div>
    </div>
</body>
</html>